.game-control__container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 500px;
}

.game-control__container button {
  width: 70px;
  height: 25px;
}

.game-control__container label {
  display: flex;
  flex-direction: column;
}
